<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>target/mincer-2.2.0-standalone.jar</jar>
  <outfile>target/mincer-2.2.0.exe</outfile>
  <errTitle></errTitle>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>0.0.0.1</fileVersion>
    <txtFileVersion>2.2.0-dev</txtFileVersion>
    <fileDescription>mincer</fileDescription>
    <copyright>ISC</copyright>
    <productVersion>0.0.0.1</productVersion>
    <txtProductVersion>2.2.0-dev</txtProductVersion>
    <productName>mincer</productName>
    <companyName></companyName>
    <internalName>mincer</internalName>
    <originalFilename>mincer-2.2.0.exe</originalFilename>
  </versionInfo>
  <messages>
    <startupErr>Startup Error</startupErr>
    <bundledJreErr>Bundled JRE Error</bundledJreErr>
    <jreVersionErr>JRE Version Error</jreVersionErr>
    <launcherErr>Launch Error</launcherErr>
  </messages>
</launch4jConfig>
